/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */
.banner {
  background-image: url("../../assets/home/home-banner.webp");
  height: 660px;
  width: auto;
  background-size: cover;
  background-position: center;
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  position: relative;
  z-index: 0;
}
.banner:before {
  position: absolute;
  content: "";
  height: 660px;
  width: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0);
  opacity: 0.3;
  z-index: 2;
}
.container-full.banner h1 {
  font-size: 56px;
  font-weight: 600;
  z-index: 3;
  line-height: 67px;
  color: white;
  font-family: "roboto", sans-serif;
  letter-spacing: 1px;
  text-transform: capitalize;
  position: relative;
  z-index: 2;
}

.banner h5 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 500;
  padding: 13px 0;
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}
.location-btn {
  padding: 20px 69px;
  border: transparent;
  background: white;
  border-radius: 13px;
  position: relative;
  z-index: 2;
}
button.d-flex.location-btn span .icon {
  font-size: 30px;
  margin-right: 23px;
  color: #c71f66;
  margin-right: 30px;
  position: relative;
  z-index: 2;
}
input.form-control.banner-input {
  height: 72px;
  border-radius: 14px;
  margin-left: 27px;
  position: relative;
  z-index: 2;

  /* padding: 5px 10px; */
  /* width: 46px; */
}
span.search-btn {
  background: #c71f66;
  padding: 0px 43px;
  position: relative;
  z-index: 2;
}
svg.search-icon {
  color: white;
  font-size: 24px;
  position: relative;
  z-index: 2;
}
@media only screen and (max-width: 800px) {
  .banner-content {
    display: block !important;
    place-items: center;
    align-items: center;
  }
  .location {
    display: flex;

    justify-content: center;
    margin-bottom: 10px;
  }
  input.form-control.banner-input {
    margin: 0;
  }
}
